html{
    height: 100%;
}
body {
    font-family: 'Rubik',Times, serif;
    font-weight: 300;
    background-image: linear-gradient(to bottom right, rgb(120, 250, 196), rgb(7, 116, 61));
}

h1{
    font-family: 'Bitter', Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
}


.drop-shadow{
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.153);
}

.btn-primary{
    background-color: #00BBC9;
    border-color: #00BBC9;
}

.btn-outline-light:hover{
    background-color: rgba(7, 116, 61, 0.424);
}

.bg-custom{
    background-color: rgba(255, 255, 255, 0.287);
}